.footer-area {
  background-color: #e1f5a2;
}

.footer-area li {
  padding-bottom: 10px;
}

.social-media .icon {
  height: 40px;
  width: 40px;
  color: #28a745;
  border-radius: 50%;
  border: 1px solid #28a745;
  padding: 10px;
}
